.heroSectionContainer {
    width: 100vw;
    height: 80vh;
    background: url("../../assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}