.categoryContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    padding: 2rem 0;
}


.categoryContainer .heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.categoryContainer .heading h3 {
    font-size: 18px;
    font-weight: 800;
}

.categoryContainer .heading span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    color: #AB2921;
    font-weight: 800;
}

.categoryContainer .heading span svg {
    font-size: 15px;
    margin-left: 0.2rem;
}

.categoryContainer .tags {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.categoryContainer .tags span {
    font-size: 17px;
    color: #000000;
    padding: 0.6rem 2rem;
    margin: 0 1rem;
    background: #ffffff;
    border-radius: 20px;
}

.category__cards {
    width: 100%;
    background: #ffffff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.category__card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.category__card img {
    width: 210px;
    height: 210px;
    background-size: cover;
    background-position: center;
}

.category__card h4 {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}